.header {
  border-bottom: 1px solid $header-color;
}

.header-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 300px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $mobile) {
    gap: 276px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 92px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 92px;
  }
}
