.logo {
  color: $logo-text-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    padding-bottom: 26px;
    padding-top: 26px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.logo--inverse {
  color: $hero-footer-text-color;
  padding: 0;
  margin-bottom: 20px;
}

.logo__text {
  color: $accent-color;
}
